{% load static %}
<div class="grid md:grid-cols-2 items-center md:gap-4 gap-8 font-[sans-serif] text-[#333] max-w-5xl max-md:max-w-md mx-auto mt-20">
    <div class="max-md:order-1 max-md:text-center">
      <h3 class="md:text-3xl text-2xl md:leading-10">Empower Your Productivity: Your Ultimate Todo Solution Awaits!</h3>
      <p class="mt-4 text-sm">Embark on a journey of productivity with our revolutionary todo app. Seamlessly manage your tasks, prioritize deadlines, and achieve your goals with ease.</p>
      <button type="button" class="px-6 py-2 mt-8 font-semibold rounded text-sm outline-none border-2 border-[#333] hover:bg-[#333] hover:text-white transition-all duration-300"><a  href="#my-todos">Explore</a></button>
    </div>
    <div class="md:h-[450px]">
      <img src={% static "images/hero.jpg" %} class="w-full h-full md:object-contain" />
    </div>
</div>